<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getModel>
        <processor type="ScMvc.Pipelines.InitializeEditableModelFromItem, ScMvc" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetModel.InitializeModel, Sitecore.Mvc']"/>
      </mvc.getModel>
    </pipelines>
  </sitecore>
</configuration>