<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getModel>
        <processor type="ScMvc.Pipelines.InitializeEditableModelFromItem, ScMvc" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetModel.InitializeModel, Sitecore.Mvc']"/>
      </mvc.getModel>
      <renderField>
        <processor type="ScMvc.Rendering.Pipelines.GetImageFieldValue, ScMvc" patch:instead="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']" />
        <processor type="ScMvc.Rendering.Pipelines.GetLinkFieldValue, ScMvc" patch:instead="processor[@type='Sitecore.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Kernel']" />
        <processor type="Sitecore.Buckets.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Buckets">
          <patch:delete />
        </processor>
      </renderField>
    </pipelines>
  </sitecore>
</configuration>